<template>
  <div>
    <a
      class="text-blueGray-500 block"
      href="#wpplumber"
      @click="toggleDropdown($event)"
      ref="btnDropdownRef"
    >
      <div class="items-center flex">
        <span
          class="w-12 h-12 text-sm text-white bg-blueGray-200 inline-flex items-center justify-center rounded-full"
        >
          <img
            alt="..."
            class="w-12 h-12 rounded-full align-middle border-none shadow-lg"
            :src="Avatar.src"
          />
        </span>
      </div>
    </a>
    <div
      ref="popoverDropdownRef"
      class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1 absolute right-0"
      v-bind:class="{
        hidden: !dropdownPopoverShow,
        block: dropdownPopoverShow
      }"
      style="min-width: 12rem"
    >
      <a
        href="#wpplumber"
        class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
      >
        Action
      </a>
      <a
        href="#wpplumber"
        class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
      >
        Another action
      </a>
      <a
        href="#wpplumber"
        class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
      >
        Something else here
      </a>
      <div class="h-0 my-2 border border-solid border-blueGray-100" />
      <a
        href="#wpplumber"
        class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
      >
        Seprated link
      </a>
    </div>
  </div>
</template>
<script setup lang="ts">
import { createPopper } from "@popperjs/core";
import Avatar from '@assets/img/team-1-800x800.jpg';
import {ref} from 'vue'

   const dropdownPopoverShow = ref(false)
   const btnDropdownRef = ref(null)
   const popoverDropdownRef = ref(null)


   function toggleDropdown(event) {
    console.log('toggleDropdown')
      event.preventDefault();
      if (dropdownPopoverShow.value) {
        dropdownPopoverShow.value = false;
      } else {
        dropdownPopoverShow.value = true;
        createPopper(btnDropdownRef, popoverDropdownRef, {
          placement: "bottom-end"
        });
      }
    }
</script>
