/* @import url(md/theme.css); */
@tailwind base;
@tailwind components;
@tailwind utilities;

    @font-face {
      font-family: 'GitLabMono';
      src: url(../../../node_modules/@gitlab/fonts/gitlab-mono/GitLabMono.woff2) format('woff2');
    }

    @font-face {
    font-family: 'GitLabSans';
    src: url(../../../node_modules/@gitlab/fonts/gitlab-sans/GitLabSans.woff2) format('woff2');
    }

@layer components {
  .sm-headline1 {
    @apply text-[42px] leading-sm-heading font-sans;
  }
  .headline2 {
    @apply text-[60px] leading-display1 font-medium;
  }
  .headline3 {
    @apply text-[76px] leading-display3 font-light;
  }
  .headline4 {
    @apply text-[122px] leading-display4 font-light;
  }
  .headline5 {
    @apply text-[21px] leading-none font-serif;
  }
  .headline6 {
    @apply text-[18px] leading-none font-serif tracking-wider;
  }
  .subtitle1 {
    @apply text-[14px] leading-none tracking-widest;
  }
  .subtitle2 {
    @apply text-[12px] leading-none tracking-widest;
  }
  .body1 {
    @apply text-[16px] leading-6;
  }
  .body2 {
    @apply text-[12px] leading-none tracking-widest;
  }
  .button {
    @apply text-[12px] leading-none tracking-widest capitalize;
  }
  .caption {
    @apply text-[11px] leading-none tracking-widest;
  }
  .overline {
    @apply text-[9px] leading-none tracking-widest;
  }

  .cds-pro-fixed-code1 {
    @apply text-[9px] leading-none tracking-widest;
  }
  .cds-exp-fluid-sm-heading3 {
    @apply text-xl leading-sm-heading1;
  }
}