--- 
const { frontmatter,title, description  } = Astro.props;
import '../assets/styles/global.css';
import "@fortawesome/fontawesome-free/css/all.min.css";
import favicon from '@assets/img/apple-icon.png';

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href={favicon.src} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main class="flex flex-col min-h-[calc(100vh_-_72px_-_112px)]">
			<slot />
		</main>
	</body>
</html>

